*.pptx
*.gitignore
*.ini

/.vscode/
/build/
/QMRITools/Applications/
/QMRITools/NeuralNetworks/*.wlnet
/QMRITools/Resources/DemoData/
/QMRITools/Resources/SCMv8txt/

# /QMRITools/Documentation/English/ReferencePages/
/scripts/test data/out_*
/scripts/test data/*_seg.*
/~$DS-config.docx
/build_tools
/QMRITools/Resources/allDef.wxf
/QMRITools/Resources/colorLookup.mx
/agents/callgraph/