/build/
/QMRITools/Applications/
/DemoAndTest/DemoData/
/DemoAndTest/Testing/
# /QMRITools/Documentation/English/ReferencePages

/.owncloudsync.log
/.sync_journal.db
/.sync_journal.db-shm
/.sync_journal.db-wal
/Desktop.ini
