*.pptx
*.gitignore
*.ini

/build/
/QMRITools/Applications/
/QMRITools/NeuralNetworks/
/QMRITools/Resources/DemoData/
/QMRITools/Resources/SCMv8txt/

# /QMRITools/Documentation/English/ReferencePages/
/scripts/test data/out_low.nii.gz
/scripts/test data/out_low.txt
/scripts/test data/out_up.nii.gz
/scripts/test data/out_up.txt
/~$DS-config.docx