/* ################################################## */
/* # MENU OVERRIDES                                   */
/* ################################################## */

/* general */
#menu { height: 56px; background:url('/webMathematica/Resources/Documentation/English/images/topnav-bg.png') repeat-x; text-align: center; width: 100%; }
#menu table { width: 929px; margin: -5px auto 0 !important; text-align: left; height: 54px; vertical-align: middle; }
#menu .logo { background: url('/common/images2010/wolframlogo10-red.gif') left 10px no-repeat; }
#menu .logo img { margin: 0; }
.WRIdropMenu a.WRImenuHover, a.topLevel:hover { color: #dc0200 !important; }
.WRImenuContents a.WRImenuHover, .WRImenuContents a:hover { background-color: #dc0200; color: #fff !important; }
#menu td#menuContainer, #menu td.globalSearch { padding-top: 0; }
  
#UpdatedIn9Graphic {padding-right:15px; padding-top:22px;}
   .NewIn8Graphic {padding-right: 25px; padding-top:0px;}
   .NewInGraphic { margin: 25px 25px; float: right; }
   .NewIn10Graphic { margin: 21px 25px 0 0; float: right;}
   .NewIn10Graphic-inside { display:inline-block; margin: 0; width: 76px; height: 24px; background: url('/webMathematica/Resources/Documentation/English/images/new-in-10.gif') no-repeat right top;}


.iconography {float: right;}
.cloudicon {display:inline-block;}

span.NewIn10Graphic-inside + div.cloudicon {padding-left:4px;}
span.NewIn10Graphic-inside + div.cloudicon:before {display: inline-block; content:""; margin-bottom:3px; margin-right:4px; height:20px; border-left:1px solid #D9D9D9; }
span.NewIn10Graphic-inside + div.cloudicon img {vertical-align:text-top;}

a.highlight-link + div.cloudicon {padding-left: 4px;vertical-align: top;margin: 5px 0 0 0;} 
a.highlight-link + div.cloudicon:before {display: inline-block; content:""; margin-bottom:3px; margin-right:6px; height:20px; border-left:1px solid #D9D9D9; }      

.desktopicon {display:inline-block;}

span.NewIn10Graphic-inside + div.desktopicon {padding-left:4px;}
span.NewIn10Graphic-inside + div.desktopicon:before {display: inline-block; content:""; margin-bottom:3px; margin-right:4px; height:20px; border-left:1px solid #D9D9D9; }
span.NewIn10Graphic-inside + div.desktopicon img {vertical-align:top; margin:7px 0 0 0;}

a.highlight-link + div.desktopicon {padding-left: 4px;vertical-align: top;margin: 5px 0 0 0;} 
a.highlight-link + div.desktopicon:before {display: inline-block; content:""; margin-bottom:3px; margin-right:6px; height:20px; border-left:1px solid #D9D9D9; }   
	
.infoText {color:#5d5c5c; font-size:12px; text-align:left;}
.infoWrapper-top {position:relative; display:inline; text-align:left; margin-left: -5px; }
.infoWrapper-top img {cursor:pointer; border:1px solid #fff;}
	
.infoBoxWrapper-top {color:#5d5c5c; position:absolute; top:20px; right:-46px; display:none; padding-left:15px;}
.infoBoxWrapper-top .infoTop {width:187px; height:24px; background: url("/webMathematica/Resources/Documentation/English/images/infoBox-top-small.png") no-repeat top center;}
.infoBoxWrapper-top .infoMiddle {font:11px/18px Arial,Verdana,sans-serif; width:151px; padding:0 40px 0 20px; background: url("/webMathematica/Resources/Documentation/English/images/infoBox-top-small.png") no-repeat 0 -24px;}
.infoBoxWrapper-top .infoBottom {width:187px; height:20px; background: url("/webMathematica/Resources/Documentation/English/images/infoBox-top-small.png") no-repeat bottom center;}

.financeplatformbadge { width: 965px; height: 30px; text-align: right; margin: 0 auto; } 
