/* ################################################## */
/* # REF / GENERAL                                    */
/* ################################################## */

#ref .expanded p {font-size:11px; margin-top:10px; }
#ref .expanded p+p {margin-top: 10px !important;}
#ref .expanded p.inlineFunctionList { margin-top: 20px !important;}
#ref .expanded h4 { font-size: 12px !important; line-height: 20px !important; } 
#ref .InCell {margin-top:15px;}

#ref h2  a.expand span, #ref  h2 a.collapse span, #ref h3  a.expand span, #ref  h3 a.collapse span, #ref h4  a.expand span, #ref  h4 a.collapse span { color: #909090;  }
#ref h2 a.expand span, #ref h2 a.collapse span { font-size: 11px; }
#ref h5  a.expand span, #ref  h5 a.collapse span { color: #909090; font-size: 10px }
 
/* details and options */
#ref ul.functionList li table { position: relative; left: 15px; width: 585px; margin: 5px 0 15px; border-collapse: collapse; border-top: 1px solid #ddd;  }
  #ref ul.functionList li td { border-bottom: 1px solid #ddd; padding-right: 5px; }
    #ref ul.functionList li table.nogridboxdividers td { border-bottom: 0px; }
    #ref ul.functionList li table.nogridboxdividers { border-top: 0px; }
    #ref ul.functionList li table.nogridboxdividers { width: auto;}

#ref .mainContent { border-top:5px solid #7B84D3; }


/* examples */
#ref #Examples .expandInner a { display: inline-block; width: 528px; vertical-align: top; }
  #ref #Examples .expandInner a.all { width: 102px; padding: 0; font-size: 11px; color: #888; text-align: right; }
    #ref #Examples .expandInner a.all:hover { color: #0E3EB9; }
    #ref #Examples .expandInner a.all span { font-weight: normal; }
  #ref #Examples .expandSubOuter .OCell, #ref #Examples .expandSubOuter .InCell  { margin-left: -32px !important; }
  #ref #Examples .expandSubOuter p { margin-left: 41px !important; }
    #ref #Examples .expandSubsubOuter .OCell, #ref #Examples .expandSubsubOuter .InCell { margin-left: -25px !important; }
	#ref #Examples .expandSubsubOuter p { margin-left: 48px !important; }
        #ref #Examples .expandSubsubOuter .Graphics { margin-left: 48px !important; }
	#ref #Examples .expandSubsubsubOuter .InCell, #ref #Examples .expandSubsubsubOuter .OCell { margin-left: -24px !important; }
	#ref #Examples .expandSubsubsubOuter p { margin-left: 49px !important; }


/* back to top link, mod info */
.toplink { margin: 10px -25px -50px 0; float: right; } 
	.toplink a, #example .toplink a { padding-right: 15px; background: url('/webMathematica/Resources/Documentation/English/images/toplink-arrow2.png') no-repeat right center; color: #585858; font-family: Arial, Helvetica, sans-serif; }
		.toplink a:hover, #example .toplink a:hover {color:#000000;}

	   
 
#ref .modified, #example .modified, #tutorial .modified { margin: 0 20px 15px; padding-top: 12px; border-top: 1px solid #d5d5d5; color: #999999; font-style: italic; font-size: 11px; }
  .modified p { float: left; }
  .modified .toplink { margin: 0 !important; }

div.HistoryVersion {display:inline; color: #B2B2B2;}

.playAnimation { display: block; width:95px; background: none repeat scroll 0 0 #CCCCCC; border: 1px solid #979596; color: #2A3D72; font-size: 10px; margin-bottom: 2px; padding: 0 2px; text-align: center; } 
   
.TableForm { width: 513px; overflow: auto; }
 
 

/* ################################################## */
/* # REF / SPECIFIC                                   */
/* ################################################## */

/* built-in symbol (functions) */

.functionIntro p { font-size:11px; margin-left: 20px; text-indent: -20px; }
.functionIntroWrap { margin: 20px 0 15px; width:100%; border-color: #e3e3e3; border-width: 1px 1px 0; border-top:3px solid #FF9900; }
	  .functionIntro { padding:15px 30px 15px 30px; background: #FFFEE4; border-bottom: 1px solid #e3e3e3; }
div.functionIntroWrap .IF a {}
div.functionIntroWrap .IF a:hover {}
 ul.functionList { margin: 20px 0px -8px 0px; }
   .functionList .NotesTable { background:  none; }
	.functionList li { /*margin: 7px 0px 17px 0px;*/ padding-left: 10px; background: url('/webMathematica/Resources/Documentation/English/images/bullet-greysq.gif') no-repeat 0 7px; font-size: 11px; }
	.functionList td { font-size:11px; }
p.inlineFunctionList .IF { font-family:Verdana, Geneva, sans-serif;!important; font-size:11px; }  
.DeviceList { margin: 10px 30px 0px 24px; }
.FormatList { margin: 10px 30px 0px 28px; }
.FormatList li, .DeviceList li { padding-left: 10px; background: url('/webMathematica/Resources/Documentation/English/images/bullet-greysq.gif') no-repeat 0 7px; font-size: 12px; color: #494949; }


/* character */
 #ref .functionIntroWrap { border-top:3px solid #FF9900; overflow: hidden; }
#ref.character .functionIntroWrap { margin: 20px 0; }
    #ref.character .functionIntro { padding-left: 25px; text-indent: 0; overflow: hidden; background-color: #f8f7e5; }
	#ref.character .functionIntro td.character-img { margin-top: 1px; width: 100px; }
#ref.character ul.functionList.afterIntro { margin: -3px 0 0 20px; }
  #ref.character ul.functionList.afterIntro li { color: #585858; }
	#ref.character .functionIntro  td { vertical-align: top; }

/* input, output */
#ref #Examples .Print .FlushInput { margin-left: 18px; }
#ref #Examples .Message { margin: 10px 0 10px 41px !important; }  
  
  
/* file */


/* format */
#ref.format h1 span { font-weight: normal; font-size: 20px; }

div.indicatorIntroWrap { margin: 0 25px 15px 25px; }
div.indicatorIntro { background-color: #ededed; border: 1px solid #c0c0c0; padding: 15px 25px; font-size: 11px; display: block; color: #585858; }

div.formatIntro { padding: 0px 15px 5px 0px; font-size: 11px; display: block; } 
div.formatIntro table colgroup { display: none;} 
.FormatUsageSeparator { color: #adadad}

  div.formatIntro p { font-size: 11px; }
#ref.format ul.functionList.afterIntro { margin: 0 30px 0; }
  #ref.format ul.functionList.afterIntro li {  }

#ref #Examples .InCell, #ref.format #Examples .OCell { margin-left: -35px; }
  #ref #Examples .InCell { margin-top: 10px; }
#ref #Examples .expanded { padding-bottom: 35px; }
  #ref.format #Examples .expanded .expanded { padding-bottom: 20px; }
.FN  { margin-left: 25px; }
  .FN li { background: url('/webMathematica/Resources/Documentation/English/images/bullet-greysq.gif') no-repeat 0 7px; padding-left: 10px; margin-left: 5px; font-size: 11px; }
.expanded .FN { margin-left: 0 !important; }

.NotesTable { list-style-type: none; }

.expanded p, .expanded p.Text, .expanded .MCap, .expanded .TutorialAbstract { margin: 0 !important; }
.expanded .InCell, .expanded .OCell { padding-left: 0 !important; }

div.formatIntro { margin: 0 25px 15px 25px; background-color: #ededed; border: 1px solid #c0c0c0; padding: 15px 25px; font-size: 11px; display: block; color: #585858; }
#FormatBackground div.formatIntro { margin: 0 0 0 -2px; background-color:transparent; border: 0px; padding: 0px 15px 5px 0px; font-size: 11px; display: block; } 
div.formatIntro table colgroup { display: none;} 
.FormatUsageSeparator { color: #adadad}

/* front end object */
#ref.frontendobject .AwaitingReviewNote { margin: 10px 25px; line-height: 13px; }


/* indicator */
div.indicatorIntro p { margin: 0; font-size: 11px; }

#ref.indicator #Example .InCell, #ref.indicator #Example .OCell { margin-left: -35px; }
  #ref.indicator #Example .InCell { margin-top: 25px; }


/* menu item */


/* message */
#ref.message #DetailsAndOptions .expanded p { margin: 20px 0 0 20px !important; }
#ref.message #Examples .expanded {}
  #ref.message #Examples .expanded .expanded {  }
  
/* notebook image */  
.NotebookImage { background: #f0f5fa; }
.NotebookImage img { margin: 5px 42px; }

/* highlighting modified text */
.highlight-link, .highlighting { display: inline-block; width: 108px; height: 45px; }
.highlight-link { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-show.png') no-repeat right top; }
  .highlight-link:hover { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-show-over.png') no-repeat right top; }
.highlighting { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-hide.png') no-repeat right top; }
  .highlighting:hover { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-hide-over.png') no-repeat right top; }
  
/* highlighting modified text */
.highlight-link-inside, .highlighting-inside {margin: 0; width: 108px; height: 45px; }
.highlight-link-inside { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-show.png') no-repeat right top; }
  .highlight-link-inside:hover { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-show-over.png') no-repeat right top; }
.highlighting-inside { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-hide.png') no-repeat right top; }
  .highlighting-inside:hover { background: url('/webMathematica/Resources/Documentation/English/images/mathematica/UpdatedIn10-hide-over.png') no-repeat right top; }

li.modified-text { background-image: none !important;}
  li.modified-text:before{ margin: 5px 5px 5px -10px; vertical-align: middle; display: inline-block; width: 4px; height: 4px; background: #adadad; content: "";} 


.DeviceAbstract { font-size:12px; margin: 10px 30px 0px 24px; color: #494949; }

.DeviceImage { background: #fff; }
.DeviceImage img { margin: 10px 0px 10px 60px; }

.ExamplesUnderConstruction { font-size:12px; margin: 10px 30px 0px 0; color: #494949; }
.DeviceExamplePrologue { font-style:italic; font-size:12px; margin: 0px 30px 10px 24px; color: #494949; }

#ref.service h3 { margin-top: 10px; margin-bottom: 10px; font-size: 12px; color: #B46625; }
#ref.service .OCell { margin-left: -32px !important; }

li.functionessay {background: none; margin-bottom:15px; padding-left:0px;}

.essaybuttonWrap {float:left; margin: 9px 0px 0px 0px; width:100px;}
.showmore {cursor:pointer; padding-right:15px; background: url('/webMathematica/Resources/Documentation/English/images/showmore-arrow.png') no-repeat right center; color: #585858; font-family: Arial, Helvetica, sans-serif;}
.showless {cursor:pointer; padding-right:15px; background: url('/webMathematica/Resources/Documentation/English/images/showless-arrow.png') no-repeat right center; color: #585858; font-family: Arial, Helvetica, sans-serif;}

.showmore:hover, .showless:hover {color:#000000;}

.FunctionEssayShowMore {display:none;}

#ref.format h1 div.InterpreterSubtitle { font-weight: normal; font-size: 20px; display:inline-block;}
