/* ################################################## */
/* # OVERVIEWS                                        */
/* ################################################## */

.overviews .expanded { padding-top: 12px; padding-bottom: 15px; }
  .overviews .expanded .expanded { padding: 0 0 0 17px; }
    .overviews .expanded .expanded .expanded { padding-top: 3px; }

.overviews a { display: inline; padding: 0; }
.overview span { display: inline; }	
	
.overviews h2 { font-size: 14px; background: transparent; display: inline; margin-left: 25px; margin-top: 2px; }
	.overviews  h2 span { color: #142899; padding-left: 15px; background-position: 2px center !important; }	
	.overviews h2 span a { margin-left: 0px; }
h2.overviews { margin-left: 40px; font-size: 14px; }
.overviews .expanded h3 { margin-top: 5px !important; font-size: 13px !important; line-height: 16px !important; margin-left: 20px; }	
.overviews .expanded h4 { font-size: 12px !important; line-height: 20px !important; font-weight: normal; margin-left: 25px; }
	.overviews h4 .expand { margin-left: -22px !important; padding-left: 0px !important;}
	.overviews h4 .collapse  { margin-left: -22px !important; padding-left: 5px !important;}
	.overviews .expanded h4:first-child { margin-top: 7px !important; }
	.overviews .expanded h4:last-child { margin-bottom: 12px !important; }
.overviews .expanded h5 { margin-top: 6px !important; margin-left: 30px; font-size: 11px !important; line-height: 11px !important; font-weight: normal !important; color: #585858 !important; } 
	.overviews .expanded h5:first-child { margin-top: 0px !important; }
	.overviews .expanded h5:last-child { margin-bottom: 15px !important; }

.overviews h6, .overviews h6 a { margin: 0 0 0 20px; font-size: 11px; line-height: 15px; font-weight: normal; color: #1a1a1a; }
	.overviews h6.first {  }

.overviews .expandInner .expand { background: url('../images/expand-arrow-off4.png') no-repeat 28px center; }
.overviews .expandInner .collapse { background: url('../images/expand-arrow-on4.png') no-repeat 0px center !important; }

.overviews a { color: #142899 !important; display: inline; }
  .overviews .expanded h3 a { background-position: 4px center; }
  .overviews .expanded h4 a { background-position: 3px center; }

.overviews h3 span, .overviews h4 span, .overviews h5 span { color: #142899; }  
.overviews h2 span:hover, .overviews  h3 span:hover, .overviews h4 span:hover, .overviews h5 span:hover, .overviews h6 span:hover { cursor: pointer; }
.overviews  h3 a:hover, .overviews h4 a:hover, .overviews h5 a:hover, .overviews h6 a:hover { color: #da6525 !important; }

.overviews .expandSubInner { line-height: 20px !important; }
    .overviews .expandSubInner .collapse { margin-left: -14px !important; padding-left: 14px; height: 20px; background: url('../images/expand-arrow-sub-on2.png') no-repeat 0px center !important; }
    .overviews .expandSubInner .expand { margin-left: -14px !important; padding-left: 14px; height: 20px; background: url('../images/expand-arrow-sub-off2.png') no-repeat 0px center !important; }
	.overviews .expandSubInner a { padding: 0px; }
	.overviews .expandSubsubInner a { padding: 0px !important; }
	.overviews .expandSubsubInner .expand, .overviews .expandSubsubInner .collapse { margin-left: -15px !important; padding: 15px !important; }
	.overviews .expandSubsubsubInner .collapse { margin-left: -14px !important; padding-left: 14px; height: 20px; background: url('../images/expand-arrow-sub-on2.png') no-repeat 0px center !important; }
    .overviews .expandSubsubsubInner .expand { margin-left: -14px !important; padding-left: 14px; height: 20px; background: url('../images/expand-arrow-sub-off2.png') no-repeat 0px center !important; }
.overviews .expanded  { padding-top: 0; }

	.overviews .collapse, .overviews  .expandSubOuter .collapse, .overviews  .expandSubsubOuter .collapse {margin: 0; display: inline; }
	.overviews .expand, .overviews  .expandSubOuter .expand, .overviews  .expandSubsubOuter .expand {margin: 0; display: inline; }
		
		.overviews a:hover  { color: #da6525 !important; }