/* ################################################## */
/* # STRUCTURE                                        */
/* ################################################## */
body > .main-wrapper { position: relative; margin: 0 auto -47px auto; min-height: 100%; min-width: 500px; }
#menu { min-width: 970px; }
.wrapper { /*max-width: 706px;*/ margin: 0 auto; }

/* header */
.header { text-align: right; }
.header-inner { background: url('../images/top-header-subpage.png') no-repeat; width: 704px; margin:35px auto 20px; position: relative; padding-bottom: 30px; }
.header label.placeholder { color: #ccc; position: absolute; z-index: 0; top: 40px; right: 112px; display: none; font-family: 'Open Sans', serif; font-size: 14px; } 
#query { width: 225px; height: 20px; margin: 39px 0 0 0; background: transparent; font-family: 'Open Sans', serif; font-size: 14px; color: #eaeaea; border: 0; outline: none; z-index: 3; position: relative; }
input.search-reference-input-button { background: transparent; width: 25px; height: 19px; margin: 0 5px 0; border: 0; font-size: 0; cursor: pointer; outline: none; }
.header a.header-link { width: 410px; height: 77px; display: inline-block; position: relative; float: left; }
/*#referenceHeader  { margin: 40px auto; border: 1px solid #d5d5d5; box-shadow: 0 0 6px rgba(0,0,0,0.2); border-radius: 4px; overflow:hidden; background: url('../images/mathematica/docs-header-mainImage.png') no-repeat transparent !important; }
  #referenceHeader form { display: inline-block; float: right; margin-right: 40px; padding: 0 0 34px 0; position: relative; }
  #referenceHeader input#query { border: 0; padding: 0; width: 290px; height: 23px !important; line-height: 23px !important; float: left; font-size: 11px !important; font-family: Verdana; font-style: normal; color: #494949; z-index: 3; background: transparent; display: block; position: relative; }
    #referenceHeader input#query:focus { outline: none; }
  #referenceHeader  label.placeholder { font-style: italic; color: #ddd; position: absolute; z-index: 0; top: 5px; right: 37px; display: none; }
  #referenceHeader input.search-reference-input-button { float: left; } */
  #searchlink { text-align: left; line-height: 27px; background: #676767; padding: 5px 0; }
  	#searchlink p { font-size: 13px; width: 704px; margin: 0 auto; color: #fff; font-family: Arial, Verdana, sans-serif !important; }
	#searchlink a { text-decoration: underline; color: #fff; font-family: Arial, Verdana, sans-serif !important; }

.outer-wrapper { background: #f1f1f1 url('/2013/images/background-gradient-subpage.png') repeat-x left top; padding-top: 1px; }

/* html/cdf chooser */
#formatChooser { margin-top: 5px; margin-bottom: 18px; text-align: right; font-size: 10px; font-weight: normal; color: #999; }
  #formatChooser div { margin-right: 10px; }
  #formatChooser span { font-weight: normal; }

/* breadcrumb */
.breadcrumb { display:none; margin-left: 1px; }      
.breadcrumb .wrapper { margin-top: 3px; font-size: 9px; line-height: 13px; font-family: Verdana, Geneva, Arial, sans-serif}
  .breadcrumb .wrapper a { color: #494949; }
	.breadcrumb .wrapper a:hover {color:#999;}  
.breadcrumbSep { color: #a3a3a3; }
.breadcrumbSep:last-child {display:none;}
  
/* search */
#search .mainContent { border-top: 5px solid #7b84d3; margin: 61px auto 100px auto; border-radius: 4px; }
#search #formatChooser { display: none; }
.search-wolfram-results-container  { margin: 30px 25px 30px 25px; font-size: 10px; }
	.search-summary {  }
		.search-summary-left { display: block; font-size: 13px; color: #1a1a1a; border-bottom: 1px solid #d5d5d5; }
		.search-summary-right { float: right; }
	.search-all { text-align: right; margin: 0 0 10px 0; font-size: 9px !important; height: 26px; }
		.search-all a { color: #2547aa; margin-top: -5px; }
		.search-all img { margin: 0 2px -5px 0; }
	.search-result-summary { margin: 0 0 10px 0; color: #1a1a1a; line-height: 14px; }
		.search-result-type, .search-separator { color: #6d8db1; }
		.search-result-title-symbol a, .search-result-title  a, .search-result-title-guide a{ font-size: 11px; font-weight: bold; margin-right: -6px; font-weight: bold; }
	.search-navigation { border-top: 1px solid #d5d5d5; padding-top: 3px; margin-top: 7px; }
		.search-navigation-paginator { float: right; color: #b2b2b2; }
		.search-navigation-paginator strong { color: #1a1a1a; margin: 0 3px; }
		.search-navigation-paginator a { margin: 0 3px; }
		.search-navigation-prevnext { margin-left: -4px; color: #b2b2b2; }
			.search-navigation-prevnext a { margin-right: 4px; }

	

/* main content wrapper */
.wrapper.mainOuter { /* margin-top: 8px; */  }
.mainOuter .mainContent { padding: 1px 0px 10px 0px; background: #fff; 
/*border: 1px solid #d5d5d5; box-shadow: 0 0 6px rgba(0,0,0,0.2); border-top: 5px solid #b23600; border-radius: 4px 4px 0 4px; */}
.show { display: block !important; }

#TB_title {
	height: auto !important;
	background: transparent !important;
}

#TB_closeAjaxWindow {
	background: url('../images/close.png') !important; 
	width: 28px !important;
	height: 28px !important;
	position: absolute !important;
	top: -20px !important;
	right: -20px !important;
}
#TB_closeWindowButton {
	width: 28px !important;
	height: 28px !important;
}

#TB_window {
	border: 0 !important;
	box-shadow: 0 0 20px #222;
}