.IO {
    position: relative;
}
#ref td.lab {
    padding: 7px 0 0 0 !important;
}
#tutorial .InCell tr td.lab,
#howto .InCell tr td.lab {
    padding-top: 6px !important;
}
.InCell {
    min-width: 210px;
}
.InCell:hover .Input img {
    filter: invert(0.03);
    -webkit-filter: invert(0.03);
    -ms-filter: invert(0.03);
}
#ref td.Input {
    padding: 5px 6px 2px !important;
}
#ref td.Output {
    padding: 4px 6px 2px !important;
}
#tutorial td.Input,
#howto td.Input {
    padding: 4px 6px 3px !important;
}
#tutorial .mainContent table.InCell,
#tutorial .mainContent table.OCell,
#ref table.InCell,
#ref table.OCell {
    width: auto;
}
.InCell:hover {
    background: #f7f7f7;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
}

.tooltip {
    display: block;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 8px;
    position: absolute;
    top: -53px;
    left: 0;
    right: 0;
    margin: auto;
    width: 130px;
    color: #898989;
    font-size: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 10;
    white-space: nowrap;
}
.tooltip.bottom {
    top: auto;
    bottom: -53px;
}

.clipboard {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #fff;
    background-image: url('../images/clipboard@2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: -17px;
    bottom: 0;
    margin: auto;
}
.clipboard.copied {
    background-image: url('../images/check-mark@2x.png');
}
.tooltip:before {
    content: '';
    border-top: 9px solid #f5f5f5;
    border-bottom: 9px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.tooltip:after {
    content: '';
    border-top: 10px solid #e5e5e5;
    border-bottom: 10px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}

.tooltip.bottom:before {
    border-top: 9px solid transparent;
    border-bottom: 9px solid #f5f5f5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -17px;
}
.tooltip.bottom:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid #e5e5e5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    top: -19px;
}

.InCell.hover:active {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
}
.InCell.hover:active .tooltip {
    display: none;
}
.InCell.hover:active .clipboard {
    background-color: #f5f5f5;
}
.IFL {
    color: transparent;
    font-size: 0;
    line-height: 0;
    z-index: 0;
}
.IFL.show {
    padding: 10px;
    font-size: 10px;
    line-height: 1.5;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px;
    color: #494949;
    height: auto;
    z-index: 2;
    position: absolute;
    width: 450px;
    margin-top: 5px;
}
.IFL.show .text {
    max-height: 300px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-top: 10px;
    overflow-y: auto;
}
.IFL .close {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    padding: 2px 0 0 23px;
    cursor: pointer;
    display: block;
}