/* ################################################## */
/* # GUIDES                                           */
/* ################################################## */

#guide h3 { margin: 20px 0px 1px 25px; font-size: 12px; color: #B46625; }
#guide .expanded h3 { margin: 20px 0px 1px 0px; }
  #guide h3 a { color: #B46625; }
	#guide h3 a:hover { color: #da6525!important; }
	#guide #stdExtraPkg h3 { margin-left: 0; }

#guide h4 { margin: 10px 25px; }
  #guide .expanded h4 { margin: 15px 0 8px; }
  
  #guide h3 .rightguillemet  { font-weight:normal;}
  #guide h3 .rightguillemet a:hover { }
  #guide p .rightguillemet { font-weight:normal; }

#guide .mainContent {border-top:5px solid #DF6600;}

#guide table tr td { font-size: 11px !important; color: #5C5C5C; }

.GuideFunctionsSection { font-size: 12px; font-weight: bold; margin-bottom: 6px; margin-right: 20px; margin-top: 10px; padding-bottom: 0; padding-left: 0; padding-top: 4px; }

#guide p.intro .IFSans { font: 13px/19px Arial, Verdana, sans-serif; }

#guide .singleFunction { margin: 2px 25px 0 25px; }

#guide .IFSans {font-size:11px;}
  #guide .IFSans a {color:#142899;}
    #guide .IFSans a:hover {color: #da6525/*#0E3EB9*/;}

#guide .expanded p {font-size:12px;}

#guide p.singleFunction, p.inlineFunctionList { margin-top: 7px !important; font-size: 11px !important; color: #5c5c5c; line-height:16px; margin-bottom:4px; }
#SeeAlso p.singleFunction, p.inlineFunctionList { line-height: 19px; }

.GuideCharacterImage a { color: #142899 !important; }
.GuideCharacterImage a:hover { color: #da6525; }
  
div.GuideDelimiterSubsection { margin: 20px 0px 8px 0px; border-top: 1px solid #c8c8c8; }
div.GuideDelimiterTop { margin-top: 20px; }

/* Learning Resources */
#LearningResources .expanded { padding: 0; }
  #LearningResources .expanded table { border-collapse: collapse; width: 704px; }
  #LearningResources .expanded tr { vertical-align: top; }
  #LearningResources .expanded td.resourcesLeft { width: 386px; padding: 10px 20px 25px 0px; background-color:#f3f3f3; }
  #LearningResources .expanded td.resourcesRight { width: 318px; background: #fdfdfd url('../images/resources-bg.gif') repeat-y; border-left:1px solid #d9d9d9 }
  
  .resourcesLeft h3 { margin: 12px 0 0 !important; border: 0; font-size: 12px !important; color:#2f2f2f !important; font-weight:bold; font-family:Arial, Helvetica, sans-serif; display: block;background-repeat: no-repeat; padding: 4px 0 13px 34px; }
  .resourcesLeft h3 span { color: #999; }
  .resourcesLeft .learning-links { margin: -14px 0 5px 34px; padding: 5px 0; }
    .resourcesLeft .learning-links a { display: block; font-weight:normal; }
  .resourcesLeft div { padding-left: 34px; }
    .resourcesLeft div div { padding-left:25; font-size:12px; font-weight: bold; line-height:18px; font-family:Arial, Helvetica, sans-serif; }
  .learning-tutorials {background: url('../images/tutorial-icon.png') bottom left; }
  .learning-howtos {background: url('../images/how-to-icon.png') bottom left; }
  
  .resourcesRight {font-family:Arial, Helvetica, sans-serif;}
    .resourcesRight p { margin: 20px 0px 0px 35px !important; }
    .resourcesRight a { display: block; margin: 0 25px 0 35px; padding-left: 44px; background-repeat: no-repeat; background-position: 15px 0; border-bottom: 1px solid #e0e0e0; font-size: 12px; font-weight:bold; line-height: 45px; color: #2f2f2f; }
      .resourcesRight a#res-training { background-image: url('../images/resources-training3.png'); background-position: 1px 5px; }
      .resourcesRight a#res-videos { background-image: url('../images/resources-videos4.png');background-position: 1px 5px; }
      .resourcesRight a#res-demonstrations { background-image: url('../images/resources-demonstrations4.png'); background-position: 1px 5px; }
      .resourcesRight a#res-community { background-image: url('../images/resources-community4.png'); border: none; background-position: 1px 5px; margin-bottom:7px; }
	   .resourcesRight a:visited, .resourcesRight a:link { color: #2f2f2f; }  
	   .resourcesRight a:hover { color: #142899; }
      .resourcesRight a#res-training:hover { background-image: url('../images/resources-training_on3.png'); }
      .resourcesRight a#res-videos:hover { background-image: url('../images/resources-videos_on4.png'); }
      .resourcesRight a#res-demonstrations:hover { background-image: url('../images/resources-demonstrations_on4.png'); }
      .resourcesRight a#res-community:hover { background-image: url('../images/resources-community_on4.png'); border: none; }


/* Reference */
#ref p.singleFunction, p.inlineFunctionList { margin-top: 6px; font-size: 12px; color: #5c5c5c; }
  p.singleFunction span.dash { padding: 0 2px; color: #999999; }
  span.inlineBullet { font-size: 15px; color: #adadad; padding: 0px 2px 0px 2px; }
p.singleFunction a, p.inlineFunctionList a, span.noLink { font-weight: bold; }

  
/* related guides */  
#RelatedGuides .functionList li, #RelatedLinks .functionList li { margin:3px; font-size:11px; }

/* overview guides */
#overviewGuide { padding-bottom: 0px; }
#overviewGuide h2 { background: transparent; margin: 0 25px; } 
	#overviewGuide h2 a { color: #142899; }
	#overviewGuide h2 a:hover { color: #df6600; }
	#overviewGuide h2:last-child { margin-bottom: 35px; }
#overviewGuide  p.intro { margin-bottom: 5px; }

/* special guides */
#specialGuide h2 { margin: 20px 0px 1px 25px; font-size: 12px; color: #B46625; }
#specialGuide h3 a { background: url("../images/bullet-greysq.gif") no-repeat scroll 0 center transparent; font-weight: bold; padding-left: 10px; margin: 0px 25px 10px 25px !important; color: #142899; display: inline-block; }
#specialGuide h3 a:hover { color: #da6525; }
#specialGuide h3:last-child { margin-bottom: 20px; } 
#specialGuide .GuideDelimiterSubsection { margin: 10px 25px -10px 25px; }

#guide  .expanded .singleFunction { margin: 0 25px 0 25px; }
#guide .GuideDelimiter { margin: 20px 25px 20px 25px; }
#guide .expanded .GuideDelimiter { margin: 20px 0; }

/* alpha listing*/
.AlphabetListingJumpTo + h3, .AlphabeticalListing + h3  { margin: 0 25px !important; padding-top: 5px; border-top: 1px solid silver; }
.AlphabeticalListing { margin-left: 22px; margin-bottom: 40px; }
.AlphabetListingJumpTo { margin: 0 25px 25px 25px; padding: 10px; background: #ededed; border: 1px solid silver; font-weight: bold; }
.AlphabetListingJumpTo a { margin: 0 10px 0 0; }
.AlphabeticalListing table tr td { width: 218px !important; } 


/* examples */
#example ul.example-images { list-style: none; margin-top: 25px;}
	#example .example-images li  { padding: 0; background: transparent; display: inline-block; float: left; width: 140px; height: 105px; line-height: 14px; font-family: Verdana; font-size: 10px; margin: 0 14px 60px 0; }
	#example .example-images img { border: 1px solid #ffffff; margin-bottom: 3px; box-shadow: 0 0 6px #c8c8c8; }
		#example .example-images img:hover{ border: 1px solid #da6525; }
	#example .example-images a { color: #5C5C5C; }
		#example .example-images a:hover { color: #da6525; } 
#example .examples { margin: 0 0 40px }
#example .ExampleDelimiter { margin: 0 25px 15px; }
#example p.intro { margin-bottom: 15px; }
#example .Picture { margin-left: 52px; }


/* ################################################## */
/* # CAROUSEL                                         */
/* ################################################## */
#mycarousel { height: 215px; overflow:hidden; background: url('../images/background-gradient-carousel.png') repeat-x bottom left; }
#mycarousel .viewport { float: left; width: 100%; height: 170px; overflow: hidden; position: relative; }
#mycarousel .jcarousel-scroll { float:right; margin: -27px 25px 0 0;  padding: 0; position: relative; height: 22px; }
	#mycarousel .buttons, #mycarousel-show-all, #mycarousel-minimize { display: inline-block; padding: 0; }
	#mycarousel .next, #mycarousel .prev, #mycarousel .disable-prev, #mycarousel .disable-next { display: inline-block; width: 21px; height: 19px; position: relative; vertical-align: top; line-height: 22px; font-size: 10px; margin-top: 2px; }
	#mycarousel-show-all{ margin-left: 10px; width: 57px; height: 19px; background: url('../images/show-all-button.png') no-repeat; vertical-align: top; line-height: 22px; font-size: 10px; margin-top: 2px; }
		#mycarousel-show-all:hover{ background: url('../images/show-all-button-over.png') no-repeat }
	#mycarousel-minimize{ float: right; display: none; width: 57px; height: 19px; background: url('../images/show-less-button.png') no-repeat; vertical-align: top; line-height: 22px; font-size: 10px; margin-top: 2px; }
		#mycarousel-minimize:hover{ background: url('../images/show-less-button-over.png') no-repeat; }
	#mycarousel .next { margin-left: 3px; background: url('../images/_Next_Slide_Button.png') no-repeat; }
		#mycarousel .next:hover { background: url('../images/_Next_Slide_Button_Over.png') no-repeat; }
		#mycarousel  .disable-next { margin-left: 7px; margin-right: -4px; background: url('../images/arrow-forward-noselect.png') no-repeat; }
	#mycarousel .prev { margin-right: 3px; background: url('../images/_Previous_Slide_Button.png') no-repeat; }
		#mycarousel .prev:hover { background: url('../images/_Previous_Slide_Button_Over.png') no-repeat; }
		#mycarousel  .disable-prev { margin-right: 6px; background: url('../images/arrow-back-noselect.png') no-repeat; }
	#mycarousel .page-out-of, #mycarousel .total-pages, #mycarousel .divider  { font-size: 10px; font-family: Verdana; font-weight: normal; vertical-align: top; line-height: 22px; display: inline-block; }
	#mycarousel .page-out-of, #mycarousel .total-pages { color: #757575; text-align: center; width: 14px !important; }
	#mycarousel .divider { color: #b2b2b2; margin: 0; }
#mycarousel .overview { list-style: none; padding: 0; position: absolute; left: 0; top: 20px; z-index: 0; font-size: 0; }
	#mycarousel .overview li{ float: left; line-height: 14px; font-family: Verdana; font-size: 10px; margin: 1px 13px 60px 1px; border: 1px solid #c8c8c8; padding: 0; width: 140px; height: 105px; background: transparent;box-shadow: 0 0 6px #c8c8c8; }
	#mycarousel .overview li:hover{ border: 1px solid #da6525; }
	#mycarousel .overview img { margin-bottom: 10px; }
	#mycarousel .overview a { color: #5C5C5C }
	#mycarousel .overview a:hover { color: #da6525; }
#mycarousel .carousel-caption { height: 28px; display: block;}
#mycarousel .disable { visibility: hidden;width:0;height:0; margin: 0; padding: 0; }