#man-page p, #man-page h1, #man-page h2, #man-page h3 { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif !important; }
#man-page h1 { color: #42821f; font-size: 40px; font-weight: 600; }
#man-page h2 { color: #42821f; border-top: 1px solid #d5d5d5; text-transform: uppercase; margin: 30px 50px 0 30px; }
#man-page h3 { color: #42821f; margin: 5px 50px 15px; font-size: 14px; }
#man-page p + h3 { margin: 20px 50px 15px; }
#man-page .outer-wrapper { margin: 0 0 80px 0; }
#man-page p { margin: 0 50px 5px 50px; color: #808080; font-size: 14px; line-height: 1.5; font-weight: 400; }
#man-page p.code { text-indent: -20px; margin: 0 50px 15px 70px; }
#man-page code { font-family: 'Source Code Pro', 'Consolas', 'Menlo' !important; font-size: 13px; color: #1d1d1d; white-space: pre-line; font-weight: 600; line-height: 1.2; }
#man-page em { font-family: 'Source Code Pro'; font-weight: 400; color: #8c8c8c; font-size: 15px; }
#man-page pre { margin: 0 50px 20px; background: #f2f2f2; border: 1px solid #d5d5d5; padding: 10px; }
#man-page .with-file { border: 1px solid #d5d5d5; position: relative; margin: 10px 50px 20px; }
#man-page .with-file pre { background: #fff; border: 0; margin: 0; padding: 10px; }
#man-page .file-name { margin: 0 50px 0 10px; padding: 0 0 0 15px; top: -9px; display: inline-block; position: absolute; color: #5893cf; background: #fff url('/webMathematica/Resources/Documentation/English/images/file-folder-icon-small.png') no-repeat left center; }
#man-page strong code { font-weight: 600 !important; color: #1d1d1d; }
#man-page .modified { margin: 0 50px 15px 30px; padding-top: 12px; border-top: 1px solid #d5d5d5; color: #999999; font-style: italic; font-size: 11px; }
#man-page .mainOuter .mainContent { border-top: 5px solid #b7b7b7; }
#man-page .expandWrap h2 { margin: 0; }
#man-page .NotesTable { margin: 0 0 40px 60px; border-bottom: 1px solid #ddd; width: 595px; padding: 0; }
#man-page .NotesTable table { width: 595px; border-collapse: collapse; }
#man-page .lineAboveSpanColumn td, #man-page .topBorder td { border-top: 1px solid #ddd; }
#man-page .TI { letter-spacing: default; color: #8c8c8c; font-size: 15px; font-weight: 400; }
#man-page .InlineCode { font-size: 13px; }