/* ################################################## */
/* # HOW TO                                           */
/* ################################################## */

#howto h1 span { color: #818181; }
#howto  h2.SubsectionHowTo { margin-left: 25px; }
#howto p { margin: 15px 30px 15px 24px; color: #494949; }
  #howto p.intro {  }
    #howto p .IF a, #howto li .IF a {}
    #howto p .IF a:hover, #howto li .IF a:hover {}

.embedWrap { margin-bottom: 15px; padding: 25px 0; background: #eee; border: solid #d5d5d5; border-width: 1px 0; text-align: center; }

.howto-main-links  { display: block; font-weight: bold; margin: 0 25px 7px 25px; }

.HowToAbstract { margin: 15px 25px 15px 25px; padding: 10px; background: #f1ecc3; border: 1px solid #e3d5af; }
object#videoplayer { border: 1px solid #a1a1a1; }
object#videoplayer:hover { border: 1px solid #da6525; }
.HowToPicture { margin: 10px 0 0 25px; display: block; }
